# dependencies
**/node_modules/

# env files
**/.env

# builds
**/dist
**/build

# logs
npm-debug.log*
yarn-debug.log*

# OS junk
.DS_Store
Thumbs.db
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.31.0/darwin_arm64/terraform-provider-aws_v6.31.0_x5
